<%- include('../includes/head.ejs') %>
  <script src="../../bootstrap/js/bootstrap.bundle.min.js" defer></script>
  <link rel="stylesheet" href="../css/main.css">
  </head>

  <%- include('../includes/navigation.ejs') %>
    <div style="max-width: 767px;" class="mx-auto">
      <h1>Sign Up</h1>
      <form action="/signup" method="POST" class="needs-validation mt-3" novalidate>
         <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="mb-2">
          <div class="form-outline d-flex flex-column">
            <input type="email" name="email" class="order-2 form-control" value="<%=oldInput.email%>" required />
            <div class="d-flex justify-content-between order-1">
              <label class="m-0" for="title">Email : </label>
              <div class="invalid-feedback mt-0 w-auto">
                Please enter your email
              </div>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <div class="form-outline d-flex flex-column">
            <input type="password" name="password" class="order-2 form-control" required />
            <div class="d-flex justify-content-between order-1">
              <label class="m-0" for="title">Password : </label>
              <div class="invalid-feedback mt-0 w-auto">
                Please enter your password
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-outline d-flex flex-column">
            <input type="password" name="confirmPassword" class="order-2 form-control" required />
            <div class="d-flex justify-content-between order-1">
              <label class="m-0" for="title">Confirm Password : </label>
              <div class="invalid-feedback mt-0 w-auto">
                Please re-enter your password
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <button type="submit" class="btn btn-secondary mr-1 px-5">Sign Up</button>
            <a href="/login" class="btn btn-link px-5">Login</a>
          </div>
          <div class="d-inline-flex justify-content-end">
            <% if(errorMessage){ %>
              <div class="text-danger mt-0 w-auto">
                <%= errorMessage %>
              </div>
            <% } %>
            <a href="/reset" class="btn btn-link text-danger text-decoration-none ms-3">Reset Password</a>
          </div>
        </div>
      </form>
    </div>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict';
        window.addEventListener('load', function () {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>

    <%- include('../includes/end.ejs') %>